DATASTORE_PATH="data/raw/images"
NUM_EPOCHS=10
REDIS_URL="redis://localhost:6379"
MLFLOW_TRACKING_URI="https://dagshub.com/<your-username>/DRAPE.mlflow"
CHROMA_PATH="chroma_db"
EXHAUSTIVE_THRESHOLD=5000
DAGSHUB_USERNAME="your-dagshub-username"
DAGSHUB_TOKEN="your-dagshub-token"
MODEL_NAME="DRAPE_Classifier"
NUM_IMAGES=3200
MODEL_CLASSIFIER_PATH="models/weights/attribute_classifier.pth"